<!DOCTYPE html>
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="no-js ie9 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html dir="ltr" lang="en-US" class="no-js">
<!--<![endif]-->

<head>


<?php echo $this->getChildHtml('head'); ?>

</head>


<body>

<noscript class="warning">
For full functionality of this site it is necessary to enable JavaScript.
            Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions on how to enable JavaScript in your web browser</a>.
</noscript>
<!-- / Warning for the browers with there JS turn off -->

<!--  WRAPPER
==================================================================================================== -->
<div class="wrapper">

  <!--  HEADER
==================================================================================================== -->
  <header>
    <?php echo $this->getChildHtml('header'); ?>
  </header>
  <!-- / Header  -->

<!--  CONTENT
==================================================================================================== -->
  <div class="content">
    <div class="container">

<!--  MAIN CONTENT
--------------------------------------------------------------------------------------------------- -->
      <div class="main">




<!--  BANNER
--------------------------------------------------------------------------------------------------- -->
        <div class="slider">
          <div class="slide">
              <div class="content">
              <h2>HOME OF THE PERFECT FIT HARNESS</h2>
              <div class="copy">
              <p>Fits most shapes & sizes of dogs (even front amputees), cats & pigs You can choose to have an extra D ring on the front for added control.</p>
    <p><strong>This unique modular "custom made" style of harness is our original design since 2004</strong></p>
    <p><a href="<?php echo Mage::getBaseUrl(); ?>perfect-fit-fleece-dog-harness.html">See full range here</a></p>
              </div>
              </div>
              <img src="/skin/frontend/default/dog-games/images/banner1.jpg" alt=""></div>
          <div class="slide">

                    <div class="content">
          <h2>HOME OF THE PERFECT FIT HARNESS</h2>
          <div class="copy">
          <p>Fits most shapes & sizes of dogs (even front amputees), cats & pigs You can choose to have an extra D ring on the front for added control.</p>
<p><strong>This unique modular "custom made" style of harness is our original design since 2004</strong></p>
<p><a href="<?php echo Mage::getBaseUrl(); ?>perfect-fit-fleece-dog-harness.html">See full range here</a></p>
          </div>
          </div>

          <img src="/skin/frontend/default/dog-games/images/banner2.jpg" alt=""></div>
          <div class="slide">
                    <div class="content">
          <h2>HOME OF THE PERFECT FIT HARNESS</h2>
          <div class="copy">
          <p>Fits most shapes & sizes of dogs (even front amputees), cats & pigs You can choose to have an extra D ring on the front for added control.</p>
<p><strong>This unique modular "custom made" style of harness is our original design since 2004</strong></p>
<p><a href="<?php echo Mage::getBaseUrl(); ?>perfect-fit-fleece-dog-harness.html">See full range here</a></p>
          </div>
          </div>
          <a href="<?php echo Mage::getBaseUrl(); ?>perfect-fit-fleece-dog-harness.html">
              <img src="/skin/frontend/default/dog-games/images/banner3.jpg" alt=""></a></div>
          <div class="slide">
              <a href="<?php echo Mage::getBaseUrl(); ?>perfect-fit-fleece-dog-harness.html">
                  <img src="/skin/frontend/default/dog-games/images/banner4.jpg" alt="">
              </a>
            </div>
          <div class="slide">
              <a href="<?php echo Mage::getBaseUrl(); ?>perfect-fit-fleece-dog-harness.html">
                  <img src="/skin/frontend/default/dog-games/images/banner5.jpg" alt="">
              </a>
            </div>
        </div>


<!--  TEXT!
--------------------------------------------------------------------------------------------------- -->
        <div class="home_text">
          <h2>Welcome to the Dog-Games Shop</h2>
          <div class="left_col">
                   <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_left_column')->toHtml(); ?>
          </div>
          <div class="right_col">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_right_column')->toHtml(); ?>
          </div>
        </div>

<!--  ORANGE BANNER
----------------------------------------------------------------------------------------------------->
<div class="orange_box">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_notice_block')->toHtml(); ?>
</div>



<!--  BEST SELLERS
----------------------------------------------------------------------------------------------------->

<?php $collection = Mage::getModel('catalog/category')->load(13)->getProductCollection(); ?>
<?php $collection = $collection->AddAttributeToFilter('best_seller', true); ?>
<?php $collection = $collection->AddAttributeToFilter('status', 1); ?>

<div class="best_sellers">
<h2><strong>Best Sellers</strong></h2>
      <div class="carousel_container">

      <a href="" class="carousel_next">></a>
      <a href="" class="carousel_prev"><</a>
      <ul class="carousel">


        <?php foreach ($collection as $product) : ?>


        <?php $product = Mage::getModel('catalog/product')->load($product->getId()); ?>
          <li>
        <a href="<?php echo $product->getProductUrl(); ?>">
            <img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(140,140) ?>" alt="" />
        </a>

        <p>
            <a href="<?php echo $product->getProductUrl(); ?>">
            <?php echo $product->getName(); ?>
             </a>
        </p>
            <?php if ($product->getTypeId() === 'bundle'): ?>
                <span class="price">
                    <?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol() . number_format(Mage::getModel('bundle/product_price')->getTotalPrices($product,'min',1), 2, '.', '');?>
            </span>
            <?php else:?>
            <span class="price"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol() . number_format($product->getFinalPrice(), 2, '.', ''); ?>
             </span>
            <?php endif; ?>
        </li>

        <?php endforeach; ?>

      </ul>



      </div>
</div>



<!--  ASSOCIATIONS
----------------------------------------------------------------------------------------------------->
<div class="associations">


    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bottom_description')->toHtml(); ?>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('accreditations')->toHtml(); ?>

</div>




</div><!--/.main-->



<!--  SIDEBAR
--------------------------------------------------------------------------------------------------- -->
    <div class='sidebar'><?php echo $this->getChildHtml('sidebar') ?></div>
     <!--/sidebar-->



    </div><!--/.container-->
  </div><!-- /Content  -->






  <!--  FOOTER
==================================================================================================== -->

  <footer>
     <?php echo $this->getChildHtml('footer'); ?>
  </footer>
  <!-- / Footer -->

</div>

</body>
</html>
