<?php echo '<div style="display:none;" id="baseurl">'.Mage::getBaseUrl().'</div>'; ?>
<div class="ccfp-main">
<form id="support_form" class="ccfp" onsubmit="return checkAll(this)" action="<?php echo $this->getUrl('ccfp/form') ?>index" method="post">
		<input type="hidden" name="configName" value="WholesalerApplication" />
        <fieldset class="group-select wide">
        <h4 class="legend">Company Information</h4>
        <ul>
        <li>
		<div class="input-box name-firstname">
			<label for="company">Company Name<span class="required">*</span></label> 
 			<br />
			<input name="company" id="company" title="Company Name" value="" class="required-entry input-text" type="text" />
        </div>
	
		</li>
		<li>
		<li>

        <div class="input-box name-firstname">
			<label for="name">Contact Name's<span class="required">*</span></label> 
 			<br />
			<input name="name" id="name" title="Name" value="" class="required-entry input-text" type="text" />
        </div>
		<div class="input-box ">
			<label for="phone">Phone Number<span class="required">*</span></label>
			<br />
			<input name="phone" id="phone" title="Phone" value="" class="required-entry input-text" type="text" />
		</div>
		        <div class="input-box ">
			<label for="email">Email Address<span class="required">*</span></label> 
			<br />
			<input name="email" id="email" title="Email Address" value="" class="required-entry input-text" type="text" />
		</div>	
		</li>

		<li>
		<div class="input-box ">
			<label for="website">Website</label> 
			<br />
			<input name="website" id="website" title="Website" value="" class="input-text" type="text" />
		</div>
		</li>
		<li>
		<div class="input-box ">
			<label for="billingAddress">Company's Billing Address<span class="required">*</span></label> 

			<textarea name="billingAddress" id="billingAddress" title="Please include your postcode/zip address" class="required-entry" rows="5" cols="30"></textarea>
		</div>
		
		<div class="input-box ">
			<label for="deliveryAddress">Delivery Address (if different)</label> 

			<textarea name="deliveryAddress" id="deliveryAddress" title="Please include your postcode/zip address" class="" rows="5" cols="30"></textarea>
		</div>
		</li>
		<li>
		<div class="input-box ">
			<label for="businessNature">What is the nature of your business?<span class="required">*</span></label> 
			<br />
			<input name="businessNature" id="businessNature" title="Business Nature" value="" class="required-entry input-text" type="text" />
		</div>	
		
		<div class="input-box ">
			<label for="tradingTime">How long have you been trading?<span class="required">*</span></label> 
			<input name="tradingTime" id="tradingTime" title="Trading time" value="" type="text" class="required-entry input-text" />
		</div>
		</li>
		<li>
		<div class="">
			<label for="vat">Are you VAT registered? If so please give details<span class="required">*</span></label> 
			<br />
			<input name="vat" id="vat" title="Are you VAT registered" value="" class="required-entry input-text" type="text" />
		</div>
		</li>
		<li>
				<p>We may also ask you to send us proof of your business, eg. contact details of other wholesalers that you use, your business card or other printed proof of your business.</p>
<p>If you are accepted we will send you details of our Terms &amp; Conditions. We will then activate your web shop account so that you can order directly from this web site using your email address and a computer-generated password (which you can change to one of your choice once you have successfully logged on).</p>
<p>Please do not take offence if you are refused wholesale status. Our products are very much in demand and we are only able to increase our wholesale operations in conjunction with manufacturing capability (as of June 2010 we supply over 100 retailers not only in the UK but across the world.</p>
<p>wholesale@dog-games.co.uk</p>
<p>Wholesale Manager 044 (0) 7956 967135</p>
			
	
		</li>
        <li>
            <input type="checkbox" id="privacy_policy" name="privacy_policy" value="1" title="<?php echo $this->__('Terms and Conditions') ?>" class="checkbox">
            <label for="is_subscribed"><?php echo $this->__('Please tick if you have read and accepted our Terms and Conditions') ?> (<a href="<?php echo Mage::helper('cms/page')->getPageUrl(79) ?>" target="_blank"><?php echo $this->__('Terms and Conditions'); ?></a>)
            </label>
        </li>
                                                                                                                                               
		</ul>
		<div class="button-set">
		<button class="form-button" type="submit"><span><span>Submit!</span></span></button>
		</div>		

		</fieldset>

</form>
</div>